@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Oxygen:wght@300;400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.container {
    width: 1140px;
    margin: auto;

}

.left h3 {
    font-family: 'Lora';
    margin-right: 491px;
    font-weight: 400;
    font-size: 26px;
    line-height: 26px;
    color: #FFFFFF;
    padding-top: 20px;
    margin-left: 70px;
}

header {
    background-image: url(img/IMAGE1.1.png);
    width: 100%;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
}

.right h4 {
    font-family: 'Oxygen';
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    color: #FFFFFF;

}

.col {
    margin-top: 184px;
    margin-left: 250px;
    margin-bottom: 157px;
    margin-right: 250px;
    text-align: center;
}

.col h1 {
    font-family: 'Lora';
    font-weight: 400;
    font-size: 50px;
    line-height: 51px;
    letter-spacing: 2px;
    color: #FFFFFF;
}

.col p {
    font-family: 'Oxygen';
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.63);
    margin-top: 20px;
}

.col button {
    margin-top: 31px;
    width: 167px;
    height: 44px;
    background-color: #DD783F;
    border: none;

}

.col .btn {
    font-family: 'Oxygen';
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #FFFFFF;
    border-radius: 5px;
}

.right {
    display: flex;
    margin-left: 491px;
    justify-content: space-around;
}